# ===============================
# IntelliJ IDEA
# ===============================

.idea/
*.iml


# ===============================
# IntelliJ local / temporary
# ===============================

/shelf/
httpRequests/
queries/
/services/parent/
services/msvc-common/target/msvc-common-1.0-SNAPSHOT.jar
/services/msvc-common/target
