# ===============================
# IntelliJ IDEA
# ===============================

.idea/
*.iml


# ===============================
# IntelliJ local / temporary
# ===============================

/shelf/
httpRequests/
queries/