# ===============================
# IntelliJ IDEA
# ===============================

.idea/
*.iml


# ===============================
# IntelliJ local / temporary
# ===============================

/shelf/
httpRequests/
queries/
/services/parent/
services/msvc-common/target/msvc-common-1.0-SNAPSHOT.jar
/services/msvc-common/target
*.class
*.class
*.class
services/msvc-archive/target/classes/com/sssi/msvc_archive/config/JwtAccessDeniedHandler.class
services/msvc-archive/target/classes/com/sssi/msvc_archive/config/JwtAuthenticationEntryPoint.class
services/msvc-archive/target/classes/com/sssi/msvc_archive/config/KeycloakJwtConverter.class
services/msvc-archive/target/classes/com/sssi/msvc_archive/config/MinioConfig.class
services/msvc-archive/target/classes/com/sssi/msvc_archive/config/MinioEnabledCondition.class
services/msvc-archive/target/classes/com/sssi/msvc_archive/config/MinioProperties.class
services/msvc-archive/target/classes/com/sssi/msvc_archive/config/SecurityConfig.class
services/msvc-archive/target/classes/com/sssi/msvc_archive/controller/ArchiveController.class
services/msvc-archive/target/classes/com/sssi/msvc_archive/dto/ArchiveUploadInitResponseDto.class
services/msvc-archive/target/classes/com/sssi/msvc_archive/dto/ArchiveUploadPartResponseDto.class
services/msvc-archive/target/classes/com/sssi/msvc_archive/dto/ArchiveUploadResponseDto.class
services/msvc-archive/target/classes/com/sssi/msvc_archive/exception/ArchiveException.class
services/msvc-archive/target/classes/com/sssi/msvc_archive/exception/GlobalExceptionHandler.class
services/msvc-archive/target/classes/com/sssi/msvc_archive/MsvcArchiveApplication.class
services/msvc-archive/target/classes/com/sssi/msvc_archive/security/Privileges$Archive.class
services/msvc-archive/target/classes/com/sssi/msvc_archive/security/Privileges.class
services/msvc-archive/target/classes/com/sssi/msvc_archive/service/ArchiveDownload.class
services/msvc-archive/target/classes/com/sssi/msvc_archive/service/ArchiveService.class
services/msvc-archive/target/classes/com/sssi/msvc_archive/config/CookieBearerTokenResolver.class
*.class
*.class
