APP_URL=http://localhost:8080

GHCR_NAMESPACE=proseg-una
IMAGE_TAG=main

POSTGRES_USER=proseg
POSTGRES_PASSWORD=proseg-local-dev
POSTGRES_DB=proseg-bd

KEYCLOAK_DB_NAME=keycloak_db
KEYCLOAK_REALM=proseg-realm
KEYCLOAK_ADMIN_USERNAME=proseg-admin
KEYCLOAK_ADMIN_PASSWORD=proseg-local-dev
KEYCLOAK_CLIENT_ID=proseg-app
KEYCLOAK_CLIENT_SECRET=local-dev-proseg-app
KEYCLOAK_EMAIL_CLIENT_SECRET=local-dev-msvc-email
KEYCLOAK_MAINTENANCE_CLIENT_SECRET=local-dev-msvc-maintenance

MINIO_VERSION=RELEASE.2025-04-22T22-12-26Z
MINIO_ACCESS_KEY=proseg
MINIO_SECRET_KEY=proseg-local-dev
MINIO_BUCKET=proseg-dev
MINIO_REGION=us-east-1

KAFKA_CLUSTER_ID=LPQHdmmwQWGgq3cFsxF0tA

CF_TUNNEL_TOKEN=

SPRING_PROFILES_ACTIVE=prod
CONFIG_SERVER_PROFILES_ACTIVE=prod,native
SPRING_CONFIG_IMPORT=optional:configserver:http://msvc-config:8888
SPRING_JPA_HIBERNATE_DDL_AUTO=update

COOKIE_SECURE=false
TURNSTILE_SECRET_KEY=1x0000000000000000000000000000000AA
TURNSTILE_MAX_RETRIES=3

SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=

MAINTENANCE_EXTRA_EMAILS=
POSTGRES_HOST_PORT=5433
KEYCLOAK_HOST_PORT=8180
MINIO_CONSOLE_HOST_PORT=9101
DEV_USER_USERNAME=dev
DEV_USER_EMAIL=dev@proseg.local
DEV_USER_PASSWORD=dev12345
DEV_USER_ROLE=SUPER_ADMINISTRADOR
