# Variables para despliegue en VPS
# El config server usa native; el resto de servicios usa prod.
SPRING_PROFILES_ACTIVE=docker
CONFIG_SERVER_PROFILES_ACTIVE=docker,native
SPRING_CONFIG_IMPORT=optional:configserver:http://msvc-config:8888

SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://msvc-eureka:8761/eureka/

KEYCLOAK_SERVER_URL=https://auth.devbychris.com
KEYCLOAK_ISSUER_URI=https://auth.devbychris.com/realms/sssi-realm
KEYCLOAK_REALM=sssi-realm
KEYCLOAK_CLIENT_ID=sssi-app
KEYCLOAK_CLIENT_SECRET=Dl8QcQxHHmu6qERkUMmUJ0qWSulRRx6y
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=sssi_user

SPRING_DATASOURCE_URL=jdbc:postgresql://76.13.124.126:5432/sssi-bd
SPRING_DATASOURCE_USERNAME=sssi_user
SPRING_DATASOURCE_PASSWORD=sssi_user
SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver

MINIO_URL=http://minio.devbychris.com:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=admin12345
MINIO_BUCKET=sssi-prod
MINIO_REGION=us-east-1
MINIO_SECURE=false

SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=noreply.prostep@gmail.com
SPRING_MAIL_PASSWORD=rwuj zaeq hrgm znge
SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=true
SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=true
SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_REQUIRED=true
SPRING_MAIL_PROPERTIES_MAIL_SMTP_CONNECTIONTIMEOUT=5000
SPRING_MAIL_PROPERTIES_MAIL_SMTP_TIMEOUT=5000
SPRING_MAIL_PROPERTIES_MAIL_SMTP_WRITETIMEOUT=5000
SPRING_MAIL_PROPERTIES_MAIL_DEBUG=false

CORS_ALLOWED_ORIGINS=https://proseg.devbychris.com
COOKIE_SECURE=true
TURNSTILE_SECRET_KEY=0x4AAAAAADEo_xVst3UEPKg1xo7CgackmKA
TURNSTILE_MAX_RETRIES=3
TURNSTILE_DEV_MODE=false

AUTH_SERVICE_URL=http://msvc-auth:8090
SERVICES_AUTH_URL=http://msvc-auth:8090
GATEWAY_BASE_URL=http://msvc-gateway:8081
EMAIL_SERVICE_URL=http://msvc-email:9090
INVENTORY_SERVICE_URL=http://msvc-inventory:8095
ARCHIVE_SERVICE_URL=http://msvc-archive:8096
TRANSPORT_SERVICE_URL=http://msvc-transport:8097
DOCUMENT_PROCESSOR_SERVICE_URL=http://msvc-document-processor:8098
MAINTENANCE_SERVICE_URL=http://msvc-maintenance:8099
