# Variables para build/ejecucion de frontend en produccion
VITE_API_BASE_URL=https://proseg.devbychris.com
VITE_API_TIMEOUT=30000
VITE_TURNSTILE_SITE_KEY=0x4AAAAAADEo_zmnakZDiJdz
VITE_AUTH_BEARER_TOKEN_KEY=auth_token
VITE_AUTH_REFRESH_TOKEN_KEY=refresh_token
VITE_ENABLE_AUTH=true
VITE_ENABLE_INVENTORY=true
VITE_ENABLE_SECURITY=true
VITE_DEBUG_MODE=false
VITE_LOG_LEVEL=info
